html {
  height: 100%;
  background-image: linear-gradient(to right, rgb(54, 24, 88), rgb(43, 0, 100));
}

.weatherStats {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}